/* utilizzo box-sizing di tipo border-box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;;
}

body {
    max-width: 512px;
    border: 2px dotted red;
    background-color: #f4f4f4;
}

header{
    padding: 1em;
    border-bottom:3px solid black;
    color: white;
    background-color: #2c3e50;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

main {
    padding: 1em 2em;
    min-height: 100vh;
}

h2 {
    margin-bottom: 0.83em;
}

.card{
    max-width: 452px;
    min-height: 150px;
    border: 1px solid #888888;
    padding: 20px;
    margin: 1em 0;
    background-color: #ffffff;
    border-radius: 0.25em;
    position: relative;
}

.badge {
    background-color: orangered;
    border-radius: 0.2em;
    padding: 0.2em 0.4em;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    translate: 30% -50%;
}

.pic h2{
    display: inline-block;
    margin-left: 0.5em;
}

p {
    font-size: 0.8em;
    color: #333333;
}

footer {
    padding: 1em;
    background-color: #2c3e50;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

footer p {
    color: white;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
}